.breadcrumb {
    padding: 20px 0;
}

.breadcrumb_list {
    display: flex;
    align-items: center;
}

.breadcrumb_item {
    display: flex;
    align-items: center;
}

.breadcrumb_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.active {
    color: #FFC701;
}
